body,
html {
    height: 100%;
}

.header {
    background-size: cover;
    height: 100%;
    background-image: url(/imgs/group1.jpg);
}

.header h1 {
    text-align: center;
    color: rgba(255, 0, 0, 0.616);
}

.header h4 {
    text-align: center;
    color: rgba(255, 0, 0, 0.616);
}

.hero-text {
    text-align: center;
    color: red;
}

.hero-image {
    background-image: url(/imgs/group1.jpg);
}